* {
    margin: 0;
    padding: 0;
}    

:root {
    --azul : #3970BE;
    --azul-escuro : #154580;    
    --azul-claro: #E5F1FF;
    --cinza : #ECECEC;
    --escuro : #444444;
    --branco : #FFFFFF;

}

.fundo {
    background-color: var(--azul-claro);
}